/** FONTS **/
/** SIZES **/
/** COLORS **/
.visible {
  display: block !important;
}

.vc_inner.vc_row {
  margin-right: auto;
  margin-left: auto;
  width: 980px !important;
}

.vc_row-has-fill > .vc_column_container > .vc_column-inner {
  padding-top: 0 !important;
}

/** PARTIALS **/
#top-home {
  z-index: 1;
}

#advancedSearch, #topbarAdvancedSearch {
  width: 480px;
  margin: 30px auto;
}
#advancedSearch form, #topbarAdvancedSearch form {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
#advancedSearch .searchBar, #topbarAdvancedSearch .searchBar {
  flex: 1 1;
}
#advancedSearch .searchBar input, #topbarAdvancedSearch .searchBar input {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
}
#advancedSearch .searchBar input.focuson, #topbarAdvancedSearch .searchBar input.focuson {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
#advancedSearch .searchBar .onFocus, #advancedSearch .searchBar .onFocusAndTyped, #topbarAdvancedSearch .searchBar .onFocus, #topbarAdvancedSearch .searchBar .onFocusAndTyped {
  background: #f0f3f6;
  padding: 10px;
  display: none;
  border: 1px solid #d9d9d9;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#advancedSearch .searchBar .onFocus .title, #advancedSearch .searchBar .onFocusAndTyped .title, #topbarAdvancedSearch .searchBar .onFocus .title, #topbarAdvancedSearch .searchBar .onFocusAndTyped .title {
  margin: 0;
  color: black;
}
#advancedSearch .searchBar .onFocus .title .fa, #advancedSearch .searchBar .onFocusAndTyped .title .fa, #topbarAdvancedSearch .searchBar .onFocus .title .fa, #topbarAdvancedSearch .searchBar .onFocusAndTyped .title .fa {
  color: #ff8400;
}
#advancedSearch .searchBar .onFocus .places, #advancedSearch .searchBar .onFocusAndTyped .places, #topbarAdvancedSearch .searchBar .onFocus .places, #topbarAdvancedSearch .searchBar .onFocusAndTyped .places {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
}
#advancedSearch .searchBar .onFocus .places .place, #advancedSearch .searchBar .onFocusAndTyped .places .place, #topbarAdvancedSearch .searchBar .onFocus .places .place, #topbarAdvancedSearch .searchBar .onFocusAndTyped .places .place {
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
  width: 50%;
  padding: 0 10px;
  margin-top: 20px;
}
#advancedSearch .searchBar .onFocus .places .place a, #advancedSearch .searchBar .onFocusAndTyped .places .place a, #topbarAdvancedSearch .searchBar .onFocus .places .place a, #topbarAdvancedSearch .searchBar .onFocusAndTyped .places .place a {
  display: block;
  color: black;
  background: white;
  padding: 15px;
}
#advancedSearch .searchBar .onFocus .places .place a:hover, #advancedSearch .searchBar .onFocus .places .place a:focus, #advancedSearch .searchBar .onFocusAndTyped .places .place a:hover, #advancedSearch .searchBar .onFocusAndTyped .places .place a:focus, #topbarAdvancedSearch .searchBar .onFocus .places .place a:hover, #topbarAdvancedSearch .searchBar .onFocus .places .place a:focus, #topbarAdvancedSearch .searchBar .onFocusAndTyped .places .place a:hover, #topbarAdvancedSearch .searchBar .onFocusAndTyped .places .place a:focus {
  background: #fefefe;
}
#advancedSearch .searchBar .onFocus .places .place a .name, #advancedSearch .searchBar .onFocus .places .place a .count, #advancedSearch .searchBar .onFocusAndTyped .places .place a .name, #advancedSearch .searchBar .onFocusAndTyped .places .place a .count, #topbarAdvancedSearch .searchBar .onFocus .places .place a .name, #topbarAdvancedSearch .searchBar .onFocus .places .place a .count, #topbarAdvancedSearch .searchBar .onFocusAndTyped .places .place a .name, #topbarAdvancedSearch .searchBar .onFocusAndTyped .places .place a .count {
  display: block;
}
#advancedSearch .searchBar .onFocus .places .place a .name, #advancedSearch .searchBar .onFocusAndTyped .places .place a .name, #topbarAdvancedSearch .searchBar .onFocus .places .place a .name, #topbarAdvancedSearch .searchBar .onFocusAndTyped .places .place a .name {
  font-weight: 600;
  font-size: 16px;
  color: #02a0d4;
}
#advancedSearch .searchBar .onFocus .tour, #advancedSearch .searchBar .onFocusAndTyped .tour, #topbarAdvancedSearch .searchBar .onFocus .tour, #topbarAdvancedSearch .searchBar .onFocusAndTyped .tour {
  display: block;
  color: #02a0d4;
  margin-top: 10px;
  padding: 10px;
}
#advancedSearch .searchBar .onFocus .tour a, #advancedSearch .searchBar .onFocusAndTyped .tour a, #topbarAdvancedSearch .searchBar .onFocus .tour a, #topbarAdvancedSearch .searchBar .onFocusAndTyped .tour a {
  color: #02a0d4;
}
#advancedSearch button, #topbarAdvancedSearch button {
  margin: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
  height: 46px;
}

#topbarAdvancedSearch {
  width: 100%;
  margin: 0;
}
#topbarAdvancedSearch form {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
#topbarAdvancedSearch .searchBar {
  position: relative;
}
#topbarAdvancedSearch .searchBar h6 {
  font-size: 18px;
  color: #959cac;
  margin-bottom: 0;
}
#topbarAdvancedSearch .searchBar label {
  color: #959cac;
  font-size: 14px;
}
#topbarAdvancedSearch .searchBar .onFocus, #topbarAdvancedSearch .searchBar .onFocusAndTyped {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

#topMenu {
  background: white;
}
#topMenu .container {
  padding: 0;
}
#topMenu ul {
  list-style: none;
  text-align: right;
  margin: 0 -10px;
  padding: 7px 0;
  line-height: 22px;
}
#topMenu ul li {
  display: inline-block;
  padding: 0 10px;
  font-weight: 600;
}
#topMenu ul li a {
  color: #02a0d4;
}
#topMenu ul li ~ li {
  position: relative;
  border-left: 1px solid #d9d9d9;
}
#topMenu ul li:hover a, #topMenu ul li:focus a {
  color: #ff8400;
}

#container {
  position: relative;
  z-index: 2;
}

#primary-mega {
  background: white;
}
#primary-mega .container {
  padding: 0;
}

#mega-menu-wrap-primary-mega {
  margin: 0 -20px;
}

#mega-menu-primary-mega {
  list-style: none;
  margin: 0;
  padding: 0 20px;
  position: relative;
  display: -webkit-flex;
  display: flex;
}
#mega-menu-primary-mega > .mega-menu-item {
  display: block;
  padding-right: 20px;
}
#mega-menu-primary-mega > .mega-menu-item:hover:before, #mega-menu-primary-mega > .mega-menu-item:hover .mega-menu-link {
  color: #ff8400 !important;
}
#mega-menu-primary-mega > .mega-menu-item > .mega-menu-link {
  color: #02a0d4;
  font-weight: 600;
  line-height: 40px;
}
#mega-menu-primary-mega > .mega-menu-item.mega-fa:before {
  padding-right: 5px;
  font-family: 'FontAwesome';
  font-size: 18px;
  color: #02a0d4;
}
#mega-menu-primary-mega > .mega-menu-item.mega-fa.mega-fa-send:before {
  content: '\f1d8';
}
#mega-menu-primary-mega > .mega-menu-item.mega-fa.mega-fa-rss:before {
  content: '\f09e';
}
#mega-menu-primary-mega > .mega-menu-item.mega-fa.mega-fa-building:before {
  content: '\f1ad';
}
#mega-menu-primary-mega > .mega-menu-item.mega-fa.mega-fa-users:before {
  content: '\f0c0';
}
#mega-menu-primary-mega > .mega-menu-item.mega-fa.mega-fa-star:before {
  content: '\f005';
}
#mega-menu-primary-mega > .mega-menu-item.mega-fa.mega-fa-money:before {
  content: '\f0d6';
}
#mega-menu-primary-mega > .mega-menu-item.mega-image.mega-image-pys {
  background: url(../../img/small-pys-logo.png) 0 10px no-repeat;
  padding-left: 20px;
}
#mega-menu-primary-mega > .mega-menu-item.mega-menu-megamenu .mega-sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  width: 100%;
  background: #f0f3f6;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  list-style: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#mega-menu-primary-mega > .mega-menu-item.mega-menu-megamenu:hover .mega-sub-menu, #mega-menu-primary-mega > .mega-menu-item.mega-menu-megamenu:hover .mega-sub-menu {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  max-height: 9999px;
  padding: 10px;
  overflow: visible;
}
#mega-menu-primary-mega > .mega-menu-item.mega-searchBtn {
  -webkit-flex: 1 1;
  flex: 1 1;
  text-align: right;
  padding-right: 0;
  font-size: 18px;
}
#mega-menu-primary-mega > .mega-menu-item.mega-searchBtn .mega-sub-menu {
  text-align: initial;
}
#mega-menu-primary-mega > .mega-menu-item.mega-searchBtn:before {
  content: 'T\00EC m ki\1EBF m';
  display: block;
  position: absolute;
  right: 50px;
  font-size: 12px;
  background: #959cac;
  color: white;
  border-radius: 3px;
  padding: 0 10px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#mega-menu-primary-mega > .mega-menu-item.mega-searchBtn:after {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background: #959cac;
  top: 15px;
  right: 47px;
}
#mega-menu-primary-mega > .mega-menu-item.mega-searchBtn:hover:before, #mega-menu-primary-mega > .mega-menu-item.mega-searchBtn:focus:before {
  color: white !important;
}
#mega-menu-primary-mega .mega-menu-megamenu .mega-menu-item {
  -webkit-flex: 1;
  flex: 1;
}
#mega-menu-primary-mega .mega-menu-megamenu #topbarAdvancedSearch {
  padding: 10px;
}
#mega-menu-primary-mega .mega-menu-megamenu .widget_nav_menu {
  background: white;
  border: 10px solid #f0f3f6;
}
#mega-menu-primary-mega .mega-menu-megamenu .widget_nav_menu .mega-block-title {
  background: #02a0d4;
  color: white;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  padding: 0 10px;
}
#mega-menu-primary-mega .mega-menu-megamenu .widget_nav_menu .menu {
  list-style: none;
  color: #02a0d4;
  padding: 10px;
}
#mega-menu-primary-mega .mega-menu-megamenu .widget_nav_menu .menu li + li {
  margin-top: 5px;
}
#mega-menu-primary-mega .mega-menu-megamenu .widget_nav_menu a {
  color: #02a0d4;
}
#mega-menu-primary-mega .mega-menu-megamenu .widget_nav_menu a:hover, #mega-menu-primary-mega .mega-menu-megamenu .widget_nav_menu a:focus {
  color: #ff8400;
}

#search {
  background: #f0f3f6;
}

.mainTitle {
  background: white;
  text-align: center;
  margin: 10px 0;
}
.mainTitle h1 {
  margin: 0;
  padding: 0;
  line-height: 46px;
  border: none;
  font-size: 24px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.mainTitle h1:after {
  display: none;
}

.sectionTitle2 {
  position: relative;
  margin: 20px 0;
}
.sectionTitle2 h2 {
  color: #959cac;
  border-bottom: 3px solid #02a0d4;
  font-size: 18px;
  margin: 0;
  display: inline-block;
  padding: 5px 10px;
}
.sectionTitle2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #959cac;
}

.locations {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -20px -10px 0;
}
.locations .location {
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;
  padding: 0 10px;
  margin-top: 20px;
}
.locations .location .content {
  background: white;
  padding: 10px;
}
.locations .location .content h3, .locations .location .content p {
  margin: 0;
}
.locations .location .content p {
  color: #959cac;
}

.tour {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 20px;
  background: white;
  border: 1px solid #eee;
}
.tour .info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  overflow: hidden;
}
.tour .top {
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.tour .top .title {
  margin: 0 0 10px;
  display: block;
  white-space: nowrap;
  font-weight: 700;
  font-size: 20px;
  color: #02a0d4;
  overflow: hidden;
  position: relative;
}
.tour .top .title:after {
  content: '';
  right: 0;
  top: 0;
  width: 100px;
  height: 30px;
  display: block;
  position: absolute;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 65%, #ffffff 100%);
}
.tour .top .fa {
  color: #ff8400;
}
.tour .top .meta .star {
  display: inline;
}
.tour .bottom {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 0;
  flex: 1 0;
}
.tour .bottom .left, .tour .bottom .right {
  padding: 10px;
}
.tour .bottom .left {
  border-right: 1px solid #eee;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
.tour .bottom .right {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 1 0 130px;
  flex: 1 0 130px;
}
.tour .bottom .right .price {
  color: #d46002;
  font-size: 22px;
}
.tour .bottom .right .price_desc {
  color: #959cac;
}
.tour .bottom .right .btn {
  background: #62c626;
  border-bottom: 3px solid green;
  color: white;
  padding: 0 10px;
  line-height: 30px;
  margin-top: 10px;
}
.tour .bottom .choices .fa {
  display: inline-block;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: white;
  background: #dadada;
}
.tour .bottom .choices span {
  display: none;
}

#breadcrumbs {
  background: #f0f3f6;
  margin: 0;
  padding: 10px 0;
}

#danhsach-tour {
  padding: 0;
}
