.cr-container{
	width:700px;
	height:400px;
	border:10px solid #aaa;
	z-index:100;
	margin: 0px 14px 14px 14px;
	border-radius: 5px;
}
.cr-content-wrapper{
	width:100%;
	height:100%;
	overflow:hidden;
}
.cr-content-container{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	display:none;
	overflow:hidden;
}
.cr-img{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	z-index:1;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.7);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.7);
	box-shadow:1px 1px 2px rgba(0,0,0,0.7);
}
.cr-content{
	position:relative;
	z-index:10;
	margin:20px;
	height:360px;
}
.cr-content h2{
	font-size:50px;
	line-height:40px;
	width:70%;
	color:#fff;
	text-shadow: 1px -1px 1px rgba(0,0,0,0.5);
	font-family: 'Holtwood One SC', serif;
}
.cr-content h3{
	width:40%;
	color:#fff;
	padding:15px 0px;
	line-height:30px;
}
.cr-content h3 span{
	background:#aaa;
	padding:4px 0px;
	font-style:italic;
	font-family:Georgia, serif;
	letter-spacing:3px;
	font-size:16px;
}
.cr-more-link{
	text-transform:uppercase;
	color:#aaa;
	font-size:11px;
	padding:0px 5px;
}
.cr-more-link:hover{
	text-shadow: 1px -1px 1px rgba(0,0,0,0.5);
	color:#fff;
}
.cr-content-text{
	color:#aaa;
	background:transparent url(../img/bg_content.png) repeat top left;
	font-size: 14px;
	font-family: Georgia;
	font-style: italic;
	line-height: 24px;
	position:relative;
	display:none;
	z-index:999;
	clear:both;
}
.cr-content-text p{
	padding:10px;
}
.cr-thumbs{
	position:absolute;
	left:50px;
	height:110px;
	width:575px;
	bottom:0px;
	z-index:20;
	overflow:hidden;
}
.cr-thumbs div{
	float:left; /* Set to absolute each 150px*/
	cursor:pointer;
	position:relative;
	display:none;
	width:143px;
	height:106px;
}
.cr-thumbs img{
	display:block;
	margin:6px 5px 6px 0px;
	border:4px solid #fff;
	-moz-box-shadow:1px 1px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.25);
	box-shadow:1px 1px 1px rgba(0,0,0,0.25);
}
.cr-thumbs h4{
	position:absolute;
	left:15px;
	right:15px;
	bottom:15px;
	font-family:'Holtwood One SC', serif;
	font-size:13px;
	line-height:14px;
	text-shadow:0px 1px 1px rgba(0,0,0,0.5);
	color:#fff;
}
.cr-thumbs div:hover h4{
	bottom:14px;
}
.cr-thumbs div.cr-selected{
	border-color:#aaa;
	background:transparent url(../img/triangle.png) no-repeat 50% 0%;
}
.cr-thumbs div.cr-selected img{
	border-color:#aaa;
}
.cr-nav span{
	position:absolute;
	z-index:50;
	text-indent:-9000px;
	cursor:pointer;
	width:35px;
	height:35px;
	margin-bottom:-17px;
	left:-24px;
	background:transparent url(../img/nav.png) no-repeat top left;
}
.cr-nav span.cr-nav-next{
	background-position:bottom left;
	right:-24px;
	left:auto;
}
.cr-nav span.cr-nav-prev:hover,
.cr-nav span.cr-nav-next:hover{
	bottom:34px;
}
.cr-hide, .cr-show{
	position:absolute;
	z-index:50;
	left:50%;
	margin-left:-25px;
	bottom:-10px;
	background:#aaa url(../img/hide.png) no-repeat top center;
	cursor:pointer;
	width:60px;
	height:15px;
}
.cr-show{
	background-position:bottom center;
}