#tours .wrap .tbToursInfo .left .gia {
color: yellow;
font-weight: 500;
font-size: 18px;
margin-left: 10px;
}

#tours .wrap .tbToursInfo .right a {
background: #ed910c;
height: 30px;
width: 100px;
color: white;
padding-top: 3px;
position: absolute;
bottom: 13px;
right: 10px;
text-align: center;
border-radius: 3px;
border-bottom: 2px solid #fff;
font-size: 14px;
}


#tours .wrap .tbToursInfo .left .thoigian {
display: block;
color: white;
margin-left: 10px;
font-size: 13px;
}

#tours .col-xs-8 .thoigian {
position: absolute;
bottom: 18px;
right: 130px;
}


#tours .wrap .tbToursInfo .left .gia {
color: yellow;
font-weight: 500;
font-size: 18px;
margin-left: 10px;
margin-top: 0px;
}

#tours .wrap .tbToursInfo .left h3 {
margin-bottom: 10px;
margin-top: 5px;
}

.slide-tintuc img {
border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
float: left;
}
#our-partners .col-xs-2 img {
	height: auto;
	max-width: 100%;
}

#tours h2 {
font-size: 26px;
margin: 0;
font-weight: 600;
}

#danhsach-tour .cac-tour .thongtin-tour .div1 .ten-tour h5 a {
font-size: 20px;
color: #02a0d4;
line-height: 1.7;
}
#danhsach-tour .cac-tour .thongtin-tour .div1 .ten-tour h5 {
/* margin: 10px 0; */
margin-top: 5px;
margin-bottom: 5px;
}

#breadcrumbs {
padding: 0;
margin-top: 16px;
margin-bottom: 5px;
margin-left: 5px;
}

#gioithieu-tour .main h3 {
color: #ff8400;
font-size: 16px;
margin-top: 20px;
margin-bottom: 10px;
}

#danhsach-tin .cac-tin .thongtin h4 {
font-size: 24px;
color: #000;
line-height: 1.3em;
margin-bottom: 0px;
padding-bottom: 0px;
}

.img-thumb-wrapper {
width: 708px;
text-align: center;
background-color: rgb(249, 249, 249);
border-radius: 5px;
}

.related_post_sidebar_control {
position: relative;
width: 90px;
margin: 0px auto;
height: 55px;
}

#right-sidebar .carousel.slide .item .carousel-caption {
position: relative;
left: 0;
right: 0;
bottom: 0;
top: 0;
padding-top: 0px;
}

#right-sidebar .carousel.slide .item .carousel-caption>h3 {
font-size: 16px;
text-align: left;
text-shadow: none;
margin-top: 10px;
font-weight: 600;
}

#gioithieu-tour .main p {
font-size: 14px;
font-weight:normal;
}
#danhsach-tour .cac-tour .thongtin-tour .div1 .ten-tour h2 a {
font-size: 20px;
color: #02a0d4;
line-height: 1.733;
font-weight: bold;
}

.slide-tintuc .chitiet {
background: #fff;
height: 100px;
width: 310px;
float: right;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
padding: 15px;
color: #0B0303;
font-size: 12px;
line-height: 1.2;
overflow: hidden;
}

.slide-tintuc .chitiet a {
color: #055F88;
font-weight:600;
}

#chitiettin.page-8 .content .danhmuc .item .div a {
  display: block;
  padding: 10px;
  color: #065E7B;
  font: 400 16px / 20px "Open Sans";
  text-align: center;
  min-height: 60px;
  font-weight: 600;
}

#chitiettin.page-8 .content .danhmuc .item .div {
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
  border-radius: 3px;
  background: #F9F9F9;
}

#chitiettin.page-8 .content .danhmuc2 .div a {
  width: 75%;
  color: #02a0d4;
  font: 400 14px / 20px "Open Sans";
  margin-left: 10px;
  top: 40%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 600;
}

#chitiettin.page-8 .content .title h3 {
  color: #ff8400;
  font: 400 22px / 20px "Open Sans";
  margin: 30px auto;
  display: block;
  z-index: 9;
  position: relative;
  background: white;
  max-width: 400px;
  font-weight: 600;
}

.main-section h1 {
  font-size: 30px;
  font-family: Open Sans;
  color: #02a0d4;
  position: relative;
  border-bottom: 1px #ccc solid;
  padding-bottom: 9px;
}

#topnavbar ul li a {
  color: #02a0d4;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 600;
}

#gioithieu-tour .main h4 {
  font-size: 18px;
  color: #0C8DB8;
  font-weight: 600;
  padding-top: 20px;
}

#gioithieu-tour .main .btn-green  a{
	color: white;
	font-weight:600;
}

.btn a {
  color: white;
  font-weight:600;
}

.tin-line {
  width: 680px;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.tin-comment{
	color: rgb(8, 8, 8);
	font-weight: 600;
	font-size: 35px;
 padding-top:20px;
 padding-bottom:10px;
}

#danhsach-tour div.thongtin-tour > div.div1 > div > h6 > div.star {
  display: inline;
  padding-right: -3%;
  padding-right: 8%;
}








#nhanxet-khachhang{
	height: 470px;
	width: 100%;
	background: url(../img/khachhangnhanxet.jpg);
	padding-top: 25px;
}
#nhanxet-khachhang h1{
	font-family: Open Sans;
	font-size: 26px;
	text-align: center;
	color: #FFF;
	margin-bottom: 5px;
}
#nhanxet-khachhang h3{
	font-family: Open Sans;
	font-size: 19px;
	text-align: center;
	color: #FFF;
}
#nhanxet-khachhang .msg{
	border-radius: 2px;
	background: #FFF;
	padding: 20px;
}
#nhanxet-khachhang .msg p{
	font-family: Arial;
	font-style: Italic;
	font-size: 14px;
	color: #838383;
	margin: 0px;
}
#nhanxet-khachhang .msg .line{
	border-bottom: 1px solid #adadad;
	margin: 10px 0px;
}
#nhanxet-khachhang .msg .text {
	font-family: Open Sans SemiBold;
	font-size: 16px;
	color: #838383;
}
#nhanxet-khachhang .msg .text a{
	color: #02a0d4;
}
#nhanxet-khachhang  .msg .arrow{
	background: url(../img/arrow-bottom.png);
	width: 19px;
	height: 9px;
	margin-left: 35px;
	position: absolute;
	bottom: -9px;
}
#nhanxet-khachhang .circle-img{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	border: 5px solid #c8d2d6;
	float: left;
	margin-right: 10px;
}
#nhanxet-khachhang .tour-dadi{
	margin-top: 20px;
	background: url(../img/tourdadi.png) no-repeat;
	background-position: top right;
	height: 136px;
}
#nhanxet-khachhang .tour-dadi a{
	color: #93e1ff;
	font-family: Open Sans;
	font-size: 18px;
	line-height: 35px;
}
#nhanxet-khachhang .tour-dadi .line{
	border-bottom: 1px solid #93e1ff;
	width: 267px;
	float: right;
	margin: 5px 0px;
}
#nhanxet-khachhang .tour-dadi .text{
	color: #FFF;
	font-family: Open Sans;
	font-size: 16px;
}
#dk-nhantin{
	background: url(../img/banner-du-lich-nicotex.jpg) no-repeat;
	width: 100%;
	height: 330px;
	color: #FFF;
	padding: 30px 0px;
}
#dk-nhantin h1{
	font-size: 20px;
	margin-bottom: 15px;
}
#dk-nhantin h4{
	font-size: 13px;
}
#dk-nhantin input, #dk-nhantin button{
	border-radius: 2px;
	color: #838383;
	padding: 10px 15px;
	width: 86%;
	font-size: 14px;
	border: 1px solid #ddd;
	margin-bottom: 15px;
}
#dk-nhantin .btn{
	background: #62c626;
	color: #fff;
	padding: 10px 5px;
	position: absolute;
	text-align: center;
	border: none;
	border-bottom: 2px solid green;
	font-size: 16px;
	width: 91%;
}

#tours .wrap .tbToursInfo .left h3 {
	margin-bottom: 5px;
	margin-top: 5px;
}

.cr-container {
	width: 700px;
	height: 360px;
	border: 2px solid #aaa;
	z-index: 100;
	margin: 0px 14px 14px 14px;
	border-radius: 5px;
}

#top-home h2 {
margin: 100px 0px 0px 0px;
font-size: 36px;
font-family: "Open Sans";
color: #ffffff;
text-transform: uppercase;
line-height: 0.556;
text-align: center;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
font-weight: 600;
}

#top-home {
height: 400px;
width: 100%;
background: #f0f3f6;
color: white;
position: relative;
}
#top-home > img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}

#tours {
padding-top: 40px;
padding-bottom: 10px;
background: #f0f3f6;
}

.col-xs-2 {
width: 16.666666666666664%;
height: 75px;
}

#tours .wrap .tbToursInfo {
position: absolute;
bottom: 0px;
width: 100%;
background: rgba(0, 0, 0, 0.7);
height: 94px;
}

#danhsach-tour .cac-tour .thongtin-tour .mota span{
	display: none;
}
#danhsach-tour .cac-tour .thongtin-tour .mota  i{
	width: 35px;
	/*height: 35px;*/
	background: #DADADA;
	color: #FFF;
	border-radius: 50%;
	padding: 10px;
	margin-right: 5px;
	font-size: 13px;
}
#danhsach-tour .cac-tour .thongtin-tour .mota  i:hover{
	background: #02a0d4;
}
.img-thumb-wrapper {
	width: 708px;
	text-align: center;
}

.danhgia-khachhang{
	background: #FFF;
}
.danhgia-khachhang .item{
	border-radius: 5px;
	background: #f8fafb;
	border: 1px solid #e5e5e5;
	margin: 20px 5px 20px 55px;
	padding: 15px;
}
.danhgia-khachhang img{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-left: -70px;
	float: left;
	border: 5px solid #FFF;
}
.danhgia-khachhang .box{
	margin-left: 50px;
}
.danhgia-khachhang .box	p{
	font-family: Arial;
	font-style: italic;
	color: #9a9b9b;
	font-size: 14px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
	background: url(../img/para_open.png) no-repeat top-left;
}
.danhgia-khachhang .box	.title{
	color: #a2a3a3;
	font-size: 15px;
	font-family: "Open Sans";
	color: #939393;
}
.danhgia-khachhang .box .split{
	border-right: 1px solid #a2a3a3;
	margin: 0px 15px; 
}
.ds-trang{
	border-radius: 2px;
	background: #FFF;
	width: 100%;
	margin-top: 20px;
	border: none;
	height: 55px;
	text-align: center;
	padding: 15px;
}
.ds-trang .trang{
	height: 55px;
	width: 55px;	
	background: #EEE;
	color: #CCC;
	font-family: Open Sans Semibold;
	font-size: 14px;
	margin: 15px 5px;
	padding: 7px 10px;
	border-radius: 2px;
}
.ds-trang .trang.active, .ds-trang .trang:hover{
	background: #02a0d4;
	color: #FFF;
}
#dat-tour{
	margin: 0px;
	background: #f0f3f6;
}
#dat-tour .head{
	width: 100%;
	height: 75px;
	background: url('../img/tamgiacmach.jpg');
}
#dat-tour .head p{
	text-align: center;
	font-family: Roboto;
	font-size: 30px;
	line-height: 75px;
	color: #FFF;
	font-weight: normal;
}
#dat-tour .head p .high-light{
	color: #FFFC00;
}
#dat-tour #p-bar {
	margin: 30px 0px;
}
#dat-tour #p-bar .line{
	background: #e3e6e8;
	height: 2px;
	width: 140px;
	float: left;
}
#dat-tour #p-bar .line.active{
	background: #02a0d4;
}
#dat-tour #p-bar .sm-circle{
	height: 7px;
	width: 7px;
	border-radius: 50%;
	float: left;
	margin: -2px 0px;
	border: 1px solid #DDD;
}
#dat-tour #p-bar .sm-circle.active{	
	height: 6px;
	width: 6px;
	background: #02a0d4;
	border: none;
}
#dat-tour #p-bar .md-circle{
	background: #FFF;
	height: 13px;
	width: 13px;
	border-radius: 50%;
	float: left;
	margin: -5px 0px;
	color: #CCC;
	font-size: 10px;
	line-height: 11px;
	padding: 0px 3px;
	border: 1px solid #DDD;
}
#dat-tour #p-bar .md-circle.active{
	background: #02a0d4;
	padding: 1px 4px;
	color: #FFF;
	border: none;
}
#dat-tour #p-bar .lg-circle{
	height: 27px;
	width: 27px;
	border-radius: 50%;
	float: left;
	margin: -12px 0px;
	padding: 1px 7px;
	background: #FFF;
	font-size: 13px;
	border: 2px solid #DDD;
	color: #B8B4B4;
}
#dat-tour #p-bar .lg-circle.active{
	height: 25px;
	width: 25px;
	background: #02a0d4;
	border: 2px solid #02a0d4;
	color: #FFF;
}
#dat-tour .label{
	color: #b2b2b2;
	font-family: Open Sans;
	font-size: 14px;
	text-align: center;
	font-weight: 400;
}
#dat-tour .label.active{
	color: #02a0d4;
}
#dat-tour .thongtin{
	background: #FFF;
	border-radius: 2px;
	padding: 20px;
	margin-bottom: 130px;
}	
#dat-tour .thongtin h4{
	font-size: 16px;
	font-family: Open Sans;
	color: #838383;
	margin: 0px;
}
#dat-tour .thongtin h3{
	font-size: 18px;
	font-family: Open Sans;
	color: #838383;
	margin: 0px;
	font-weight: 600;
	color: #02a0d4;
}
#dat-tour .thongtin hr{
	display: block;
	height: 1px;
    border: 0; 
	border-top: 1px solid #dfdfdf;
    margin: 1em 0; padding: 0;
	clear: both;
}
#dat-tour .div1{
	background: #f0f3f6;
	padding: 20px;
}
#dat-tour .div1 input {
	font-family:Open Sans;
	border-radius: 2px;
	font-size: 14px;
	padding: 10px 20px;
	border: 1px solid #DDD;
	margin: 5px 10px 5px 0px;
}
#dat-tour .high-light{
	color: #ffa200;
}
#dat-tour .label-left{
	font-family: Open Sans;
	font-weight: 600;
	font-size: 16px;
	float: left;
	margin-bottom: 20px;
}
#dat-tour .label-right{
	float: right;
	font-family: Open Sans;
	font-weight: 600;
	font-size: 16px;
}
#dat-tour .div2{
	padding-left: 40px;
}
#dat-tour .div2 input{
	border-radius: 2px;
	width: 430px;
	border: 1px solid #DDD;
	padding: 10px 20px;
	margin-bottom: 10px;
}
#dat-tour .btn-back {
	width: 160px;
	height: 40px;
	background: #e8e8e8;
	float: left;
	border-radius: 2px;
	text-align: center;
	line-height: 40px;
	font-family: Open Sans;
	font-weight: 600;
	color: #8d8d8d;
	box-shadow: 0px 2px #ccc;
	
}
#dat-tour .btn-next {
	width: 160px;
	height: 40px;
	float: right;
	border-radius: 2px;
	background: #21cc19;
	margin-right: -10px;
	color: #FFF;
	text-align: center;
	line-height: 40px;
	font-family: Open Sans;
	font-weight: 600;
	box-shadow: 0px 2px #1aa314;
}

/* Vinh */
.pin-wrapper .pinned {
    margin-top: 33px;
}

span.select2-selection.select2-selection--single {
    height: 45px !important;
}
.select2-selection__rendered {
    line-height: 45px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px !important; 
}
#top-home button {
    -webkit-transform: translateY(0px) !important;
    -ms-transform: translateY(0px) !important;
    transform: translateY(0px) !important;
}
/*#danhsach-tour .cac-tour .thongtin-tour .div1 .ten-tour {*/
    /*width: 479px !important;*/
/*}*/
#danhsach-tour div.thongtin-tour > div.div1 > div > h6 > div.star {
    float: none;
}

#tours .wrap .tbToursInfo .left h3 a {
	display: inline-block;
	margin: 10px 10px 0;
	white-space: normal;
}
#tours .wrap:hover .tbToursInfo .right > a {
	top: 187px;
}
#tours .wrap:hover .tbToursInfo .left .thoigian {
	transform: translateX(-275px) translateY(3px);
}

#tours .col-xs-4 .wrap:hover .tbToursInfo .left .thoigian {
	transform: translateX(0) translateY(0);
}

.img-thumb-wrapper > img {
	height: auto;
}

.select2-container {
	z-index: 9999 !important;
}

#chitiettin.page-8 .content .danhmuc2 .div {
	display: flex;
	display: -webkit-flex;
	align-items: center;
}

#chitiettin.page-8 .content .danhmuc2 .div img {
	width: auto;
}

#chitiettin.page-8 .content .danhmuc2 .div a {
	position: relative;
	top: initial;
	left: initial;
	-webkit-transform: initial;
	-moz-transform: initial;
	-ms-transform: initial;
	-o-transform: initial;
	transform: initial;
}