.modal-open {
    overflow: hidden
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out
}

.modal.in .modal-dialog {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}


#mod-mobile-menu .mobileMain ul, #mod-mobile-menu .mobileTop ul {
    display: none;
    margin: 0 0 0 20px;
    padding: 0;
    list-style: none
}

#mod-mobile-menu .mobileMain li, #mod-mobile-menu .mobileTop li {
    padding: 4px 0
}

#mod-mobile-menu .mobileMain li a, #mod-mobile-menu .mobileTop li a {
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff
}

#mod-mobile-menu .mobileMain li a i, #mod-mobile-menu .mobileTop li a i {
    width: 7px;
    height: 7px;
    float: right;
    color: #fff;
    font-style: normal;
    display: block;
    text-align: center
}

#mod-mobile-menu .mobileMain li a:hover,
#mod-mobile-menu .mobileMain li li a,
#mod-mobile-menu .mobileTop li a:hover,
#mod-mobile-menu .mobileTop li li a {
    color: #d0922c
}

#mod-mobile-menu {
    display: none;
    /*border-bottom: 1px solid #CECECE*/
}

#mod-mobile-menu #combineMenu {
    position: absolute;
    top: 0;
    left: -250px;
    z-index: 1001;
    background: #011C39;
    width: 250px;
    height: 2500px;
    position: fixed;
}

#mod-mobile-menu .mobileMain {
    padding: 0 15px 15px;
    list-style: none;
    margin: 5px 0 0;
    border-bottom: 1px solid #4D5E70;
    clear: both
}

#mod-mobile-menu .mobileMain > li:first-child a {
    /*background: url(../image/icon-home.png) no-repeat 0 center;*/
    padding: 5px 10px
}

#mod-mobile-menu .mobileTop {
    padding: 15px;
    list-style: none;
    margin: 0
}

#mod-mobile-menu #closeMenu {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(../img/menu-close.png) center center no-repeat;
    position: absolute;
    right: 0
}

#mod-mobile-menu #pullMenu {
    width: 40px;
    height: 60px;
    /*background: url(../image/menu-pull.png) center center no-repeat;*/
    float: left;
    cursor: pointer;
    margin: 0 15px;
}
#pullMenu .glyphicon-align-justify{
    font-size: 50px;
    color: #ffffff;
}
#pullMenu .fa-align-justify{
    padding: 20px 15px;
    font-size: 25px;
}
#mod-mobile-menu .mini-logo-wappar{
    width: 250px;
    margin: auto;
}

@media only screen and (max-width: 1023px) {
    #mod-mobile-menu {
        display: block;
        position: absolute;
        top: 23px;
    }
}

#module-topmenu {
    background: #002448;
    overflow: hidden
}

#module-topmenu .container {
    position: relative
}

#module-topmenu .myMenu {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    float: right
}

#module-topmenu .myMenu li {
    position: relative;
    float: left
}


#module-topmenu .myMenu li.menu-right {
    float: right
}

#module-topmenu .myMenu li.align-right {
    text-align: right
}

/** Continue */
ul, li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
img{
    width: 100%;
    height: 100%;
}
.header-top {
    background: #02a0d4;
    overflow: hidden;
}
.header-top .logo-image {
    height: 80px;
    width: 200px;
}
.header-top .hot-line {
    text-align: right;
    padding-top: 20px;
    font-size: 19px;
}
.header-top .hot-line a{
    color: #ffffff;
}
.header-top .hot-line .fa-phone{
    background: #ffffff;
    color: #02a0d4;
    font-size: 28px;
    margin-right: 10px;
    padding: 7px 11px;
    border-radius: 50%;
    position: absolute;
    left: 46%;
    top: 30%;
}
#advancedSearch{
    position: absolute;
    left: 30%;
}
#vslider_optionscontainer{
    margin: 0 !important;
}
#top-home {
    margin: 10px 10px 10px 10px;
}
#topnavbar .tooltip{
    top: 30% !important;
    right: 25px !important;
    left: 90% !important;
}
#copyright{text-align: center;}
#top-home{display: none}
#tours .wrap .tbToursInfo .left h4{
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}
#tours .wrap .tbToursInfo .left h4 a {
    display: inline-block;
    margin: 10px 10px 0;
    white-space: normal;
    color: white;
    font-size: 15px;
}
#tours .wrap{
    padding: 0 5px;
    height: 230px;
}
#tours .wrap .tbToursInfo {
    width: 97%;
    padding: 5px;
}
.slide-tintuc img {
    width: 145px;
}
.slide-tintuc .wrapper{
    width: auto;
}
#dk-nhantin {
    height: 100%;
}
#danhsach-tour .list-tour{
    padding-right: 15px;
}
#danhsach-tour .cac-tour .img {
    height: 185px;
    float: left;
    padding: 10px;
}
#danhsach-tour .thongtin-tour {
    overflow: hidden;
    padding-left: 10px;
}
.wrapper-contact {
    padding-right: 15px;
}
#right-sidebar .orange .header {
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}
#right-sidebar .orange p {
    padding: 5px 0;
}
#right-sidebar .orange > input {
    height: auto;
}
#right-sidebar .orange > .btn {
     height: auto;
    margin: 10px 0;
    padding: 10px 0;

}
@media only screen and (max-width: 991px) {
    .header-top .logo-image {
        margin: auto;
        height: 196px;
        width: 400px;
    }
    .header-top .hot-line {
        text-align: center;
    }
    .header-top .hot-line .fa-phone {
        left: 30%;
    }
    #thong-tin-huu-ich{
        padding-left: 300px;
    }
    #about-us-ft{
        text-align: center;
        padding: 0;
        padding-top: 50px;
    }
    #footer #ten-cty{
        text-align: center;
    }
    #tours .wrap {
        padding: 0 5px;
        height: 400px;
    }
    #dk-nhantin{
        text-align: center;
    }
    a,body,#tours .wrap .tbToursInfo .left .gia{
        font-size: 33px  !important;
    }
    #tours .wrap .tbToursInfo .left .thoigian,
    #about-us-ft p,
    #dk-nhantin h4{
        font-size: 20px;
    }
    #footer h6,.Footer2Column strong {
        font-size: 37px;
    }
    #tours .wrap .tbToursInfo .right a {
        height: 50px;
        width: 180px;
    }
    #tours .wrap .tbToursInfo {
        width: 100%;
    }
    #tours .wrap .tbToursInfo {
        height: 135px;
    }
    #mod-mobile-menu .mobileMain li a i, #mod-mobile-menu .mobileTop li a i{
        font-size: 30px;
    }
    #mod-mobile-menu #closeMenu {
        width: 33px;
        height: 33px;
        background-size: 100%;
        right: 5px;
        top: 5px;
    }
    #mod-mobile-menu .mobileMain {
        padding: 5px 15px 15px;
        margin: 13px 0 0;
    }
    #mod-mobile-menu .mobileMain a{
        font-size: 30px;
    }
    .archive-title h1 {
        font-size: 36px;
    }
    #danhsach-tour .cac-tour .img {
        height: 525px;
        width: 100%;
    }
    #danhsach-tour .cac-tour .thongtin-tour .div1 .ten-tour h6 {
        font-size: 23px;
    }
    #danhsach-tour .cac-tour {
        height: auto;
        overflow: hidden;
    }
    #danhsach-tour .cac-tour .thongtin-tour .div2 .mota {
        height: auto;
        margin-bottom: 15px;
    }
    #danhsach-tour .cac-tour .thongtin-tour .div2 .mota p {
        font-size: 22px;
        height: auto;
    }
    #danhsach-tour .cac-tour .thongtin-tour .div2 .gia h3 {
        font-size: 35px;
    }
    #danhsach-tour .cac-tour .thongtin-tour .div2 .gia {
        width: 30%;
        text-align: center;
        font-size: 35px;
    }
    #danhsach-tour .cac-tour .thongtin-tour .div2 .gia a.btn {
        height: auto;
    }
    #danhsach-tour .cac-tour .thongtin-tour .div1 .ten-tour {
        text-align: center;
    }
    #danhsach-tour .list-tour {
         padding: 0;
    }
    .wrapper-contact {
        padding: 0;
    }

    #mod-mobile-menu #combineMenu{
        width: 361px;
        left: -361px;
    }

    .detail-responsive .col-xs-9, .detail-responsive .img-thumb-wrapper, .detail-responsive #gioithieu-tour .main{
        width:100%;
    }
    .detail-responsive .col-xs-3,.detail-responsive .col-xs-3 .pinned{
        height:auto!important;
        width:100%!important;
    }

    .detail-responsive .col-xs-9 #gioithieu-tour .main p {
        font-size: 24px;
    }
    .detail-responsive .col-xs-3 .tvdt_img{
        width: 50%;
        margin-left: 30%;
    }
    #danhsach-tin .cac-tin .img {
        height: 500px;
         width: 100%;
    }
    #danhsach-tin .cac-tin .thongtin {
         width: 100%;
        padding: 10px 20px;
         float: left;
    }
    #danhsach-tin .cac-tin .thongtin .text {
        font-size: 36px;
    }
    #danhsach-tin .cac-tin .thongtin a{
        font-size: 38px !important;
        font-weight: bold;
    }
    #dangkynhantin ._field._type_input ._option input{
        width: 100%;
    }
    #dangkynhantin ._label {
        margin: 10px 0 !important;
    }
    #dangkynhantin ._option {
        margin: 48px 0 !important;
    }
    .title_related .heading {
        font-size: 35px !important;
    }

    #right-sidebar .orange .header{
        font-size: 37px;
    }
    #right-sidebar .orange p ,#right-sidebar .orange > input,#right-sidebar .orange > .btn{
        font-size: 34px;
    }
}